.product-card {

  &__body {
    padding: 20px;
    //height: 300px;
    box-shadow: 0 4px 24px 0 rgb(103 151 255 / 10%), 0 12px 64px 0 rgb(103 151 255 / 10%);
    //position: relative;
    margin-left: 0;
    text-align: center;
    background: #fff;
    transition: all 0.215s ease-out;
    overflow: visible;
    padding: 1.5rem;
    border: 1px solid #ffffff;
    border-radius: 15px;
    margin-bottom: 1rem;

    &:hover {
      box-shadow: 0px 7px 8px 9px rgba(244, 0, 0, 0.55);
      cursor: pointer;
    }
  }

  &__title {
    font-size: 22px;
  }

  &__link {
    text-decoration: none;
    color: black;
    transition: all 0.45s;

    &:hover {
      color: blue;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }
}
