.product-list {
  width: 100%;


  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 47%, rgba(121,9,9,1) 98%);



  @media (max-width: 1224px) {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  &__container {
    position: relative;

    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    padding-top: 2rem;
    z-index: 5;
  }

}
