<div class="product-view__container">
  <h1 class="product-view__title">{{info.title}}</h1>
  <div class="product-view__row">
    <div class="product-view__col_descr">
      <p class="product-view__descr">{{info.description}}</p>
    </div>
    <div class="product-view__col_os">
      <ul>
        <li>{{info.minimum_system_requirements.processor}}</li>
        <li>{{info.minimum_system_requirements.os}}</li>
        <li>{{info.minimum_system_requirements.memory}}</li>
        <li>{{info.minimum_system_requirements.graphics}}</li>
        <li>{{info.minimum_system_requirements.storage}}</li>
      </ul>
    </div>
  </div>
  <div class="product-view__screens">
    <div class="product-view__screen" *ngFor="let img of info.screenshots">
      <img class="product-view__image" src="{{img.image}}" alt="">
    </div>
  </div>


</div>
